/* Elements */


/* Classes */

.advice-container {
  background-color: #FFF0F0;
}

.advice-title{
  text-align: center;
  font-size: 30px;
}

.advice-description{
  padding: 10px;
}

.advice-img{
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
  position: relative;
}

.advice-description > ul {
  padding-left: 0;
}
.advice-list{
  position: relative;
  width: 71%;
}

/* S5 */
@media only screen and (min-width: 321px) and (max-width: 360px){
  .advice-img{
    left: 5%;
  }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 361px) and (max-width: 375px){
  .advice-img{
    left: 7%;
  }
  .advice-list{
  
    left: 11%;

  }
}
  /* iPhone X */
@media only screen and (min-width: 361px) and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  .scenario-img{
    left: 7%;
  }
}

/* Pixel 2*/
@media only screen and (min-width: 376px) and (max-width: 411px){
  .advice-img{
    left: 11%;
  }
  .advice-list{
    left: 14%;
  }
}

/* Pixel 2 XL*/
@media only screen and (min-width: 376px) and (max-width: 411px) and (-webkit-device-pixel-ratio: 3.5){
  .advice-img{
    left: 11%;
  }
}
/* iPhone 6/7/8 Plus */
@media only screen and (min-width: 412px) and (max-width: 414px) {
  .advice-img{
    left: 11%;
  }
  .advice-list{
    left: 14%;
  }
}
/* iPhone 5/SE Landscape */
@media only screen and (min-width: 415px) and (max-width: 568px) {
  .advice-img{
    left: 22%;
  }
  .advice-list{
    left: 25%;
    width: 47%;

  }
}
/* S5 Landscape */
@media only screen and (min-width: 569px) and (max-width: 640px) {
  .scenario-img{
    left: 25%;
  }
  .scenarios-container > .scenarios > button{
    left: 43%;
  }
  .advice-list{
    left: 27%;
    width: 47%;

  }
}
/* iPhone 6/7/8 Landscape */
@media only screen and (min-width: 641px) and (max-width: 667px) {
  .advice-img{
    left: 26%;
  }
  .advice-list{
    left: 29%;
    width: 47%;

  }
}
/* Pixel 2 Landscape */
@media only screen and (min-width: 668px) and (max-width: 731px) {
  .advice-img{
    left: 28%;
  }
  .advice-list{
    left: 31%;
    width: 47%;

  }
}
/* iPhone 6/7/8 Plus Landscape */
@media only screen and (min-width: 732px) and (max-width: 736px) {
  .advice-img{
    left: 28%;
  }
  .advice-list{
    left: 31%;
    width: 47%;

  }
}
/* iPad */
@media only screen and (min-width: 737px) and (max-width: 768px) {
  .advice-img{
    left: 31%;
    width: 35%;
  }
  .advice-container {
    height: 1024px;
  }
  .advice-list{
    left: 31%;
    width: 33%;
  }
}

/* iPhone X Landscape */
@media only screen and (min-width: 769px) and (max-width: 812px) {
  .advice-img{
    left: 30.5%;
  }
  .advice-list{
    left: 31%;
    width: 33%;
  }
}

/* Pixel 2 XL Landscape */
@media only screen and (min-width: 813px) and (max-width: 823px) {
  .advice-img{
    left: 30.5%;
  }
  .advice-list{
    left: 31%;
    width: 33%;
  }
}
/* iPad Landscape */
@media only screen and (min-width: 824px) and (max-width: 1024px) and (orientation: landscape){
  .advice-img{
    left: 34.5%;
  }
  .advice-list{
    left: 36%;
    width: 33%;
  }
}
/* iPad Pro */
@media only screen and (min-width: 824px) and (max-width: 1024px){
 
  .advice-img{
    left: 12.5%;
    width: 75%;
    margin-top: 30px;

  }
  .advice-container {
    height: 1366px;
  }
  .advice-list{
    left: 36%;
    width: 33%;
  }
}
/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1280px){
  .advice-img{
    left: 37.5%;
  }
  .advice-list{
    left: 39%;
    width: 33%;
  }
}
/* iPad Pro Landscape */
@media only screen and (min-width: 1281px) and (max-width: 1366px){
  .advice-img{
    left: 35.5%;
    width: 30%;
  }
  .advice-container {
    height: 1024px;
  }
  .advice-list{
    left: 39%;
    width: 33%;
  }
}