/* Elements */

/* Classes */

.contact-container {
  background-color: #FFF0F0;
}
.contact-container > h3 {
  text-align: center;
}
.contact-title{
  text-align: center;
  font-size: 29px;
}
.contact-form{
  margin-bottom: 30px;

}
.contact-form > input{
  width: 90%;
  border: 1px solid black;
  position: relative;
  left: 5%;
  margin-bottom: 10px;
}

.contact-form > textarea{
  width: 90%;
  border: 1px solid black;
  position: relative;
  left: 5%;
}

.contact-form > a{
  position: relative;
  left: 35%;

}
.about-intro{
  text-align: center;
}

.about-img{
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
}